<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Meme-Ory.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C64C4E931DA25F21F07804BC900F3871F7EBAF5B</string>
				<key>dateExpires</key>
				<string>17.08.2023</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C64C4E931DA25F21F07804BC900F3871F7EBAF5B</string>
						<key>dateExpires</key>
						<string>17.08.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>VRVJ9YNRQU.com.photoigor.Meme-Ory.Meme-OryWidget</string>
						<key>aps-environment</key>
						<string>production</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.icloud-container-environment</key>
						<string>Production</string>
						<key>com.apple.developer.icloud-container-identifiers</key>
						<array>
							<string>iCloud.com.photoigor.Meme-Ory</string>
						</array>
						<key>com.apple.developer.icloud-services</key>
						<array>
							<string>CloudKit</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>VRVJ9YNRQU</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.photoigor.Meme-Ory</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>Meme-OryWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>b55b57ab-395a-49be-86f3-c746f7246347</string>
						<key>dateExpires</key>
						<string>17.08.2023</string>
						<key>name</key>
						<string>Meme-Ory Widget Provisioning Profile</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VRVJ9YNRQU</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C64C4E931DA25F21F07804BC900F3871F7EBAF5B</string>
						<key>dateExpires</key>
						<string>17.08.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>VRVJ9YNRQU.com.photoigor.Meme-Ory.ShareExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>VRVJ9YNRQU</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.photoigor.Meme-Ory</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>ShareExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>76385ed9-4f91-48e3-b006-496714e4cbee</string>
						<key>dateExpires</key>
						<string>17.08.2023</string>
						<key>name</key>
						<string>Meme-Ory ShareExtension Provisioning Profile</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VRVJ9YNRQU</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.8</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VRVJ9YNRQU.com.photoigor.Meme-Ory</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.photoigor.Meme-Ory</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>VRVJ9YNRQU</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.photoigor.Meme-Ory</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Meme-Ory.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d54b972e-5074-4c1c-8146-3cd19157d876</string>
				<key>dateExpires</key>
				<string>17.08.2023</string>
				<key>name</key>
				<string>Meme-Ory Distribution Provisioning Profile</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VRVJ9YNRQU</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>0.8</string>
		</dict>
	</array>
</dict>
</plist>
